## Palabras

In [8]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

**Imprime todas las letras en mayuscula**

In [11]:
for word in words:
    print(word.upper())

PLAY
FILLING
BAR
THEATRE
EASYGOING
DATE
LEAD
THAT
STORY
ISLAND

**Crea una nueva lista que contenga 5 o más letras**

In [13]:
nueva_lista = ["a","b","c","d","f"]

**Imprime la primera palabra que empiece por 't'**

In [21]:
for i in words: 
    if i.startswith("t"):
        print({i})
        break

{'theatre'}

## Numeros

**Crea una lista que contenga el cuadraro de cada numero entre 1 y 10**

In [44]:
lista_cuadrados={}
for i in range(10):
    lista_cuadrados[i] = (i+1)**2
print (lista_cuadrados)

{0: 1, 1: 4, 2: 9, 3: 16, 4: 25, 5: 36, 6: 49, 7: 64, 8: 81, 9: 100}

**Imprime una lista que contenga el cuadrado de cada número impar del 1 al 10**

In [54]:
lista_cuadrados_impar={}
for i in range(0,10,2):
    lista_cuadrados_impar[i] = (i+1)**2
print (lista_cuadrados_impar)

{0: 1, 2: 9, 4: 25, 6: 49, 8: 81}

**Crear una lista con los cuadrados de todos los múltiplos de 8 por debajo de 1000**

In [74]:
lista_cuadrados_8={}
for i in range(8,1000,8):
    lista_cuadrados_8[i] = (i)**2
print (len(lista_cuadrados_8))
print (lista_cuadrados_8)

124
{8: 64, 16: 256, 24: 576, 32: 1024, 40: 1600, 48: 2304, 56: 3136, 64: 4096, 72: 5184, 80: 6400, 88: 7744, 96: 9216, 104: 10816, 112: 12544, 120: 14400, 128: 16384, 136: 18496, 144: 20736, 152: 23104, 160: 25600, 168: 28224, 176: 30976, 184: 33856, 192: 36864, 200: 40000, 208: 43264, 216: 46656, 224: 50176, 232: 53824, 240: 57600, 248: 61504, 256: 65536, 264: 69696, 272: 73984, 280: 78400, 288: 82944, 296: 87616, 304: 92416, 312: 97344, 320: 102400, 328: 107584, 336: 112896, 344: 118336, 352: 123904, 360: 129600, 368: 135424, 376: 141376, 384: 147456, 392: 153664, 400: 160000, 408: 166464, 416: 173056, 424: 179776, 432: 186624, 440: 193600, 448: 200704, 456: 207936, 464: 215296, 472: 222784, 480: 230400, 488: 238144, 496: 246016, 504: 254016, 512: 262144, 520: 270400, 528: 278784, 536: 287296, 544: 295936, 552: 304704, 560: 313600, 568: 322624, 576: 331776, 584: 341056, 592: 350464, 600: 360000, 608: 369664, 616: 379456, 624: 389376, 632: 399424, 640: 409600, 648: 419904, 656: 430336, 664: 440896, 672: 451584, 680: 462400, 688: 473344, 696: 484416, 704: 495616, 712: 506944, 720: 518400, 728: 529984, 736: 541696, 744: 553536, 752: 565504, 760: 577600, 768: 589824, 776: 602176, 784: 614656, 792: 627264, 800: 640000, 808: 652864, 816: 665856, 824: 678976, 832: 692224, 840: 705600, 848: 719104, 856: 732736, 864: 746496, 872: 760384, 880: 774400, 888: 788544, 896: 802816, 904: 817216, 912: 831744, 920: 846400, 928: 861184, 936: 876096, 944: 891136, 952: 906304, 960: 921600, 968: 937024, 976: 952576, 984: 968256, 992: 984064}

## People

In [84]:
people = [
    {
        "name": "Juan",
        "age": 34,
        "n_kids": 2
    },
    {
        "name": "Pepe",
        "age": 27,
        "n_kids": 0
    },
    {
        "name": "Sonia",
        "age": 41,
        "n_kids": 1
    },
    {
        "name": "Lucía",
        "age": 22,
        "n_kids": 2
    },
    {
        "name": "Leo",
        "age": 55,
        "n_kids": 5
    }
]

**Cuánta gente hay?**

In [89]:
print(len(people))

5

**Cuanta gente tiene hijos**?

In [111]:
personas_con_hijos = 0
for i in (people):
    if i["n_kids"] > 0:  
        personas_con_hijos += 1
print (personas_con_hijos)

4

**Cuantos hijos tienen en total?**

In [113]:
cantidad_hijos = 0
for i in (people):
    if i["n_kids"] > 0:  
        personas_con_hijos += i["n_kids"]
print (personas_con_hijos)# your code here

14

**En un año, los nombres que terminen en "a" tendrán un niño extra. Crea una lista de diccionarios con la información de las personas en un año**

In [126]:
people_in_a_year = []

for persona in people:
    nueva_persona = persona.copy()
    if persona["name"].endswith("a"):
        nueva_persona["n_kids"] += 1
    people_in_a_year.append(nueva_persona)
print(people_in_a_year)

[{'name': 'Juan', 'age': 34, 'n_kids': 2}, {'name': 'Pepe', 'age': 27, 'n_kids': 0}, {'name': 'Sonia', 'age': 41, 'n_kids': 2}, {'name': 'Lucía', 'age': 22, 'n_kids': 3}, {'name': 'Leo', 'age': 55, 'n_kids': 5}]